*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
.DS_Store
/build
/bin
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/Project.xml
/huiyanmodel/build
/app/build
*.apk
